<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>Adicione um <br>pensamento novo:</h2>
  </header>
  <form>
    <label for="pensamento">Pensamento</label>
    <input
      type="textarea"
      class="input"
      id="pensamento"
      name="pensamento"
      placeholder="Escreva aqui o seu pensamento"
    >
  </form>
  <form>
    <label for="autoria">Autoria</label>
    <input
      type="textarea"
      class="input"
      id="autoria"
      name="autoria"
      placeholder="Escreva aqui a autoria"
    >
  </form>
</section>
